.inputDiv{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: black;
    height: 50vh;
    width: 30%;
    border-radius: 20px 70px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


}
.inputs{
    height: 25px;
    width: 250px;
    border-radius: 7px;
    border: solid lightgray;
    background: black;
    color: #ffffff;

}
.inputDiv>form>input::placeholder {
  color: #ffffff;
}